@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-toast {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #e7e4e4; /* Background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow */
  padding: 40px; /* Padding */
  max-width: 500px; 
  z-index: 50; 
}
